{# the range of hash_seed is 0-15 #}
{# set default hash seed to 0 #}
{% set hash_seed = 0 %}
{% set hash_seed_offset = 0 %}
{% if DEVICE_METADATA.localhost.type %}
{% if "ToRRouter" in DEVICE_METADATA.localhost.type %}
{% set hash_seed = 0 %}
{% elif "LeafRouter" in DEVICE_METADATA.localhost.type %}
{% set hash_seed = 10 %}
{% elif "SpineRouter" in DEVICE_METADATA.localhost.type %}
{% set hash_seed = 25 %}
{% endif %}
{% endif %}
{% if DEVICE_METADATA.localhost.namespace_id %}
{% set hash_seed_offset = DEVICE_METADATA.localhost.namespace_id | int %}
{% endif %}
{% set hash_seed_value = hash_seed_offset + hash_seed %}
[
    {
        "SWITCH_TABLE:switch": {
{% if ("Mellanox-SN3800-D28C50" in DEVICE_METADATA.localhost.hwsku) or ("Mellanox-SN3800-C64" in DEVICE_METADATA.localhost.hwsku) or ("Mellanox-SN3800-D28C49S1" in DEVICE_METADATA.localhost.hwsku) or ("Mellanox-SN2700-D48C8" in DEVICE_METADATA.localhost.hwsku)  %}
            "vxlan_src": 0xFF00,
            "vxlan_mask": 8
{% endif %}
            "ecmp_hash_seed": "{{ hash_seed_value }}",
            "lag_hash_seed": "{{ hash_seed_value }}",
            "fdb_aging_time": "600"
        },
        "OP": "SET"
    }
]
